= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false } }) do |f|
  = f.error_notification
  = f.input :email, autocomplete: "email", wrapper: :floating_labels_form, placeholder: 'Email'
  = f.input :password, wrapper: :floating_labels_form, placeholder: 'Password'
  .d-flex.justify-content-between.mb-2
    = f.input :remember_me, as: :boolean
    %div
      = link_to "Forgot password?", new_password_path(resource_name)
  .d-grid.gap-2
    = f.button :submit, "Sign In", data: { "turbo-submits-with": "Signing In..." }
