= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.error_notification
  = f.input :email, autofocus: true, autocomplete: "email"
  = f.input :password
  - if devise_mapping.rememberable?
    = f.input :remember_me, as: :boolean
  = f.button :submit, "Sign In", class: "btn-primary w-100 py-8 mb-4 rounded-2", data: { "disable-with": "Signing In..." }