= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "m-t"}) do |f|
  = f.error_notification
  = f.input :email, autofocus: true, autocomplete: "email"
  = f.input :password
  - if devise_mapping.rememberable?
    .field.checkbox
      = f.check_box :remember_me
      = f.label :remember_me, class: "checkbox__label"
  = f.button :submit, "Sign In"