= simple_form_for @application do |f|
  = f.error_notification
  = f.input :name
  
  - if true == @application.persisted?
    = f.button :submit, "Update"
    = link_to "Cancel", @application, class: 'btn btn-default'
  - else
    = f.button :submit, "Create"
    = link_to "Cancel", applications_path, class: 'btn btn-default'