= simple_form_for(@user, url: { action: :update_password }, remote: true) do |f|
  = f.error_notification
  = f.input :password
  = f.input :password_confirmation
  = f.button :submit, "Update Password", data: { "disable-with": "Updating Password..." }
  = link_to "Cancel", @user, class: "btn btn-default"