.card.bg-body-tertiary.mb-3
  .card-body
    .row
      .col.d-flex.align-items-center
        %h3.mb-0.text-secondary-emphasis= page_title
      .col.d-flex.justify-content-end.align-items-center
        - if policy(User).new?
          = link_to new_user_path, class: "btn btn-primary btn-lg" do
            = material_icon("add")
            .d-none.d-sm-inline
              User

.table-responsive.table-with-out-card-body
  %table.table.table-striped{ id: "users-table" }
    %thead
      %tr
        %th.d-none.d-md-table-cell{ style: "width: 20px" } State
        %th Name
        %th &nbsp;
    %tbody{ id: "users-table-rows" }
      = render 'users'
  = turbo_frame_tag "users-paginator" do
    = render "paginator"