.card.bg-body-tertiary.mb-3
  .card-body
    %h5.mb-1= page_title
    = render 'breadcrumbs'

.card.bg-body-tertiary
  .card-body
    = simple_form_for(@user) do |f|
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
      = f.input :email, wrapper: :floating_labels_form, placeholder: "Email"
      = f.input :role, collection: User.roles, as: :radio_buttons
      = f.button :submit, "Invite User", data: { "turbo-submits-with": "Inviting User..." }
      = link_to "Back", users_path, class: "btn btn-default ms-2"
