.card
  .card-body
    %h4.card-title AJAX Modal

    %hr/
    %br/

    %p
      = link_to "Show AJAX Modal", modal_web_components_path, modal: true, class: "btn btn-primary"
      .pt-4
        %pre
          = "= link_to \"Show AJAX Modal\", modal_web_components_path, modal: true"
    %p.pt-4
      = link_to "Show Small AJAX Modal", modal_web_components_path(size: :small), modal: true, class: "btn btn-primary"
      = link_to "Show Large AJAX Modal", modal_web_components_path(size: :large), modal: true, class: "btn btn-primary"
      %p Optional: Configure Modal Size [large, small]
      .pt-4
        %pre
          = " before_action -> { set_modal_size(:large) }"
