.card
  .card-body
    %h4.card-title Remote Modal

    = link_to "Small", modal_web_components_path(size: :small), modal: true, class: "btn btn-primary me-2"
    = link_to "Default", modal_web_components_path, modal: true, class: "btn btn-primary me-2"
    = link_to "Large", modal_web_components_path(size: :large), modal: true, class: "btn btn-primary me-2"
    = link_to "Extra Large", modal_web_components_path(size: :xl), modal: true, class: "btn btn-primary me-2"

    .pt-4
      %code
        = "= link_to \"Modal\", modal_web_components_path, modal: true"