.card.bg-body-tertiary
  .card-header
    %h4.card-title Remote Modals
    %h6.card-subtitle.mt-2
      %code= "= link_to \"Modal\", modal_web_components_path, modal: true"
  .card-body
    = link_to "Small", modal_web_components_path(size: :small), modal: true, class: "btn btn-primary me-2"
    = link_to "Default", modal_web_components_path, modal: true, class: "btn btn-primary me-2"
    = link_to "Large", modal_web_components_path(size: :large), modal: true, class: "btn btn-primary me-2"
    = link_to "Extra Large", modal_web_components_path(size: :xl), modal: true, class: "btn btn-primary me-2"