- collection = 5.times.map { |i| ["option text #{i}", i] }

= simple_form_for :form do |f|

  .card
    .card-body
      %h4.card-title Boolean Input
      .row
        .col-md-6
          = f.input :default, required: false, as: :boolean
          = f.input :disabled, required: false, disabled: true, as: :boolean
          = f.input(:valid, input_html: { class: "is-valid" }, wrapper_html: { class: "form-group-valid" }, required: false, as: :boolean)
          = f.input(:invalid, label_html: { class: "is-invalid" }, input_html: { class: "is-invalid" }, wrapper_html: { class: "form-group-invalid" }, error: "Invalid message", required: false, as: :boolean)
      .pt-4
        %pre
          = "= f.input :attribute, as: :boolean"

  .card
    .card-body
      %h4.card-title Collection Input
      %h6.card-subtitle TODO skin disabled/valid/invalid
      .row
        .col-md-6
          = f.input :default, collection: collection, required: false
          = f.input :disabled, collection: collection, required: false, disabled: true
          = f.input(:valid, collection: collection, input_html: { class: "is-valid" }, wrapper_html: { class: "is-valid" }, required: false)
          = f.input(:invalid, collection: collection, input_html: { class: "is-invalid" }, wrapper_html: { class: "form-group-invalid" }, error: "Invalid message", required: false)
      .pt-4
        %pre
          = "= f.input :attribute, collection: collection"

  .card
    .card-body
      %h4.card-title Floating Label Text Input
      .row
        .col-md-6
          = f.input :default, required: false, wrapper: :floating_labels_form
          = f.input :disabled, required: false, disabled: true, wrapper: :floating_labels_form
          = f.input :valid, input_html: { class: "is-valid" }, wrapper_html: { class: "is-valid" }, required: false, wrapper: :floating_labels_form
          = f.input :invalid, input_html: { class: "is-invalid" }, wrapper_html: { class: "form-group-invalid" }, error: "Invalid message", required: false, wrapper: :floating_labels_form
      .pt-4
        %pre
          = "= f.input :attribute, wrapper: :floating_labels_form"

  .card
    .card-body
      %h4.card-title Text Input
      .row
        .col-md-6
          = f.input :default, required: false
          = f.input :disabled, required: false, disabled: true
          = f.input(:valid, input_html: { class: "is-valid" }, wrapper_html: { class: "is-valid" }, required: false)
          = f.input(:invalid, input_html: { class: "is-invalid" }, wrapper_html: { class: "form-group-invalid" }, error: "Invalid message", required: false)
      .pt-4
        %pre
          = "= f.input :attribute"
