- collection = 3.times.map { |i| ["option text #{i}", i] }

= simple_form_for :form do |f|

  .card
    .card-body
      %h5.card-title Checkboxes
      .pb-4.pt-3
        %code
          = "= f.input :attribute, collection: collection, as: :check_boxes"
      .row
        .col-md-6
          = f.input :default, collection: collection, as: :check_boxes, required: false
          = f.input :disabled, collection: collection, as: :check_boxes, required: false, disabled: true
          = f.input :valid,    collection: collection, as: :check_boxes, required: false, valid: true
          = f.input :invalid,  collection: collection, as: :check_boxes, required: false, error: "Invalid message"

  .card
    .card-body
      %h5.card-title File
      .pb-4.pt-3
        %code
          = "= f.input :attribute, as: :file"
      .row
        .col-md-6
          = f.input :default,  as: :file, required: false
          = f.input :disabled, as: :file, required: false, disabled: true
          = f.input :valid,    as: :file, required: false, valid: true
          = f.input :invalid,  as: :file, required: false, error: "Invalid message"

  .card
    .card-body
      %h5.card-title Radio Group
      .pb-4.pt-3
        %code
          = "= f.input :attribute, collection: collection, as: :radio_buttons"
      .row
        .col-md-6
          = f.input :default_radio_group,  collection: collection, as: :radio_buttons, required: false, label: "Default"
          = f.input :disabled_radio_group, collection: collection, as: :radio_buttons, required: false, label: "Disabled", disabled: true
          = f.input :valid_radio_group,    collection: collection, as: :radio_buttons, required: false, label: "Valid",    valid: true
          = f.input :invalid_radio_group,  collection: collection, as: :radio_buttons, required: false, label: "Invalid",  error: "Invalid message"

  .card
    .card-body
      %h5.card-title Single Select
      .pb-4.pt-3
        %code
          = "= f.input :attribute, collection: collection"
      .row
        .col-md-6
          = f.input :default,  collection: collection, required: false
          = f.input :disabled, collection: collection, required: false, disabled: true
          = f.input :valid,    collection: collection, required: false, valid: true
          = f.input :invalid,  collection: collection, required: false, error: "Invalid message"

  .card
    .card-body
      %h5.card-title Text
      .pb-4.pt-3
        %code
          = "= f.input :attribute"
      .row
        .col-md-6
          = f.input :default,  placeholder: "start typing here...", required: false
          = f.input :disabled, placeholder: "start typing here...", required: false, disabled: true
          = f.input :valid,    placeholder: "start typing here...", required: false, valid: true
          = f.input :invalid,  placeholder: "start typing here...", required: false, error: "Invalid message"


  .card
    .card-body
      %h5.card-title Text Area
      .pb-4.pt-3
        %code
          = "= f.input :attribute, as: :text"
      .row
        .col-md-6
          = f.input :default,  as: :text, placeholder: "start typing here...", required: false
          = f.input :disabled, as: :text, placeholder: "start typing here...", required: false, disabled: true
          = f.input :valid,    as: :text, placeholder: "start typing here...", required: false, valid: true
          = f.input :invalid,  as: :text, placeholder: "start typing here...", required: false, error: "Invalid message"

  .card
    .card-body
      %h5.card-title Toggle Switch
      .pb-4.pt-3
        %code
          = "= f.input :attribute, as: :boolean"
      .row
        .col-md-6
          = f.input :default,  as: :boolean, required: false
          = f.input :disabled, as: :boolean, required: false, disabled: true
          = f.input :valid,    as: :boolean, required: false, valid: true
          = f.input :invalid,  as: :boolean, required: false, error: "Invalid message"
