- collection = 3.times.map { |i| ["option text #{i}", i] }

= simple_form_for :form do |f|

  .card
    .card-body
      %h4.card-title Checkboxes
      .row
        .col-md-6
          = f.input :default,  collection: collection, as: :check_boxes, required: false
          = f.input :disabled, collection: collection, as: :check_boxes, required: false, disabled: true
          = f.input :valid,    collection: collection, as: :check_boxes, required: false, valid: true
          = f.input :invalid,  collection: collection, as: :check_boxes, required: false, error: "Invalid message"
      .pt-4
        %pre
          = "= f.input :attribute, collection: collection, as: :check_boxes"

  .card
    .card-body
      %h4.card-title File
      .row
        .col-md-6
          = f.input :default,  as: :file, required: false
          = f.input :disabled, as: :file, required: false, disabled: true
          = f.input :valid,    as: :file, required: false, valid: true
          = f.input :invalid,  as: :file, required: false, error: "Invalid message"
      .pt-4
        %pre
          = "= f.input :attribute, as: :file"

  .card
    .card-body
      %h4.card-title Radio Group
      .row
        .col-md-6
          = f.input :default_radio_group,  collection: collection, as: :radio_buttons, required: false, label: "Default"
          = f.input :disabled_radio_group, collection: collection, as: :radio_buttons, required: false, label: "Disabled", disabled: true
          = f.input :valid_radio_group,    collection: collection, as: :radio_buttons, required: false, label: "Valid",    valid: true
          = f.input :invalid_radio_group,  collection: collection, as: :radio_buttons, required: false, label: "Invalid",  error: "Invalid message"
      .pt-4
        %pre
          = "= f.input :attribute, collection: collection, as: :radio_buttons"

  .card
    .card-body
      %h4.card-title Select
      %h6.card-subtitle Single Select
      .row
        .col-md-6
          = f.input :default,  collection: collection, required: false
          = f.input :disabled, collection: collection, required: false, disabled: true
          = f.input :valid,    collection: collection, required: false, valid: true
          = f.input :invalid,  collection: collection, required: false, error: "Invalid message"
      .pt-4
        %pre
          = "= f.input :attribute, collection: collection"

  .card
    .card-body
      %h4.card-title Text
      .row
        .col-md-6
          = f.input :default,  placeholder: "start typing here...", required: false
          = f.input :disabled, placeholder: "start typing here...", required: false, disabled: true
          = f.input :valid,    placeholder: "start typing here...", required: false, valid: true
          = f.input :invalid,  placeholder: "start typing here...", required: false, error: "Invalid message"
      .pt-4
        %pre
          = "= f.input :attribute"

  .card
    .card-body
      %h4.card-title Toggle Switch
      .row
        .col-md-6
          = f.input :default,  as: :boolean, required: false
          = f.input :disabled, as: :boolean, required: false, disabled: true
          = f.input :valid,    as: :boolean, required: false, valid: true
          = f.input :invalid,  as: :boolean, required: false, error: "Invalid message"
      .pt-4
        %pre
          = "= f.input :attribute, as: :boolean"