%header.content__title
  %h1= page_title

.tab-container
  .card
    .card-body
      %ul.nav.nav-tabs{:role => "tablist"}
        %li.nav-item
          %a.nav-link{"data-toggle" => "tab", href: "#croppie", role: "tab"} Croppie
        %li.nav-item
          %a.nav-link{"data-toggle" => "tab", href: "#kaminari", role: "tab"} Kaminari
        %li.nav-item
          %a.nav-link{"data-toggle" => "tab", href: "#modals", role: "tab"} Modals
        %li.nav-item
          %a.nav-link.active{"data-toggle" => "tab", href: "#simple-form", role: "tab"} Simple Form
        %li.nav-item
          %a.nav-link{"data-toggle" => "tab", href: "#sparkline-charts", role: "tab"} Sparkline Charts

  .tab-content{ style: "padding: 0" }
    #croppie.tab-pane.fade.show{ role: "tabpanel" }
      = render 'croppie'
    #kaminari.tab-pane.fade.show{ role: "tabpanel" }
      = render 'kaminari'
    #modals.tab-pane.fade.show{ role: "tabpanel" }
      = render 'modals'
    #simple-form.tab-pane.fade.show.active{ role: "tabpanel" }
      = render 'simple_form'
    #sparkline-charts.tab-pane.fade.show{ role: "tabpanel" }
      = render 'sparkline_charts'
