= simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f|
  = f.hidden_field :invitation_token
  = f.error_notification
  = f.input :email, disabled: true
  = f.input :name, autofocus: true
  = f.input :time_zone
  = f.input :password
  = f.input :password_confirmation
  = f.button :submit, t("devise.invitations.edit.submit_button"), class: "btn-theme btn-lg d-block w-100 fw-semibold", data: { "disable-with": "Accepting Invitation..." }