= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = f.hidden_field :reset_password_token
  = f.error_notification
  = f.input :password, autocomplete: "new-password", wrapper: :floating_labels_form, placeholder: 'Password'
  = f.input :password_confirmation, autocomplete: "new-password", wrapper: :floating_labels_form, placeholder: 'Password Confirmation'
  .d-grid.gap-2
    = f.button :submit, "Change Password", data: { "disable-with": "Changing Password..." }