= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = f.hidden_field :reset_password_token
  = f.error_notification
  = f.input :password, autofocus: true, autocomplete: "new-password"
  = f.input :password_confirmation, autocomplete: "new-password"
  = f.button :submit, "Change Password", class: "btn btn-primary w-100 py-8 mb-4 rounded-2", data: { "disable-with": "Changing Password..." }