= turbo_frame_tag "me-form" do
  = render 'flash'
  = simple_form_for(@me, url: { action: :update }) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
    = f.input :name
    = f.input :time_zone
    = f.button :submit, "Update", data: { "disable-with": "Updating..." }