= turbo_frame_tag "password-form" do
  = render 'flash'
  = simple_form_for(@me, url: { action: :update_password }) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
    = f.input :current_password, wrapper: :floating_labels_form, placeholder: "Current Password"
    = f.input :password, wrapper: :floating_labels_form, placeholder: "New Password"
    = f.input :password_confirmation, wrapper: :floating_labels_form, placeholder: "Confirm New Password"
    = f.button :submit, "Update Password", data: { "disable-with": "Updating Password..." }