= turbo_frame_tag "password-form" do
  = render 'flash'
  = simple_form_for(@me, url: { action: :update_password }) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
    = f.input :password
    = f.input :password_confirmation, label: "Confirm Password"
    = f.button :submit, "Update Password", data: { "disable-with": "Updating Password..." }