= turbo_stream.update "<%= plural_table_name %>-table-rows" do
  = render 'table_rows'
= turbo_stream.update "<%= plural_table_name %>-paginator" do
  = render "paginator"
= turbo_stream.action(:scroll_into_view, "<%= plural_table_name %>-table")
