.card.bg-body-tertiary.mb-3
  .card-body
    .d-flex.flex-row.justify-content-between.align-items-center
      %div
        %h5.mb-1= page_title
        = render 'breadcrumbs'
      %div
        .dropdown
          %button.btn.btn-light-dark.btn-transparent.dropdown-toggle{ "aria-expanded" => "false", "data-bs-toggle" => "dropdown", :type => "button" }
            = material_icon("more_vert")
          %ul.dropdown-menu
            - if policy(@<%= singular_table_name %>).edit?
              %li
                = link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: "dropdown-item" do
                  = material_icon("edit")
                  Edit
            - if policy(@<%= singular_table_name %>).destroy?
              %li
                = link_to @<%= singular_table_name %>, class: "dropdown-item", "data-turbo-method": :delete, "data-turbo-confirm": "Archive <%= singular_table_name %>?" do
                  = material_icon("delete")
                  Archive

.card
  .card-body
    %dl
    <%- attributes.each do |attribute| -%>
      %dt <%= attribute.name.humanize %>
      %dd= @<%= singular_table_name %>.<%= attribute.name %>
    <%- end -%>