.card.mb-3
  .card-body
    .row
      .col.d-flex.align-items-center
        %h3.mb-0.text-secondary-emphasis= page_title
      .col.d-flex.justify-content-end.align-items-center
        .d-flex.gap-2
          - if policy(@<%= singular_table_name %>).edit?
            = link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: "btn btn-secondary fw-semibold" do
              = material_icon("edit")
              .d-none.d-sm-inline
                Edit
          - if policy(@<%= singular_table_name %>).destroy?
            = link_to @<%= singular_table_name %>, class: "btn btn-danger fw-semibold", "data-turbo-method": :delete, "data-turbo-confirm": "Are you sure you want to delete this <%= singular_table_name %>?" do
              = material_icon("delete")
              .d-none.d-sm-inline
                Delete

.card
  .card-body
    %dl
    <%- attributes.each do |attribute| -%>
      %dt <%= attribute.name.humanize %>
      %dd= @<%= singular_table_name %>.<%= attribute.name %>
    <%- end -%>