%header.topbar.card.rounded-0.border-0
  .with-vertical
    %nav.navbar.navbar-expand-lg.p-0
      %ul.navbar-nav
        %li.nav-item
          %a#headerCollapse.nav-link.sidebartoggler.nav-icon-hover.ms-n3{:href => "javascript:void(0)"}
            %i.ti.ti-menu-2
      .d-block.d-lg-none
        = PLATFORM_TITLE
      %a.navbar-toggler.nav-icon-hover.p-0.border-0{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", :href => "javascript:void(0)"}
        %span.p-2
          %i.ti.ti-dots.fs-7
      #navbarNav.collapse.navbar-collapse.justify-content-end
        .d-flex.align-items-center.justify-content-between
          %ul.navbar-nav.flex-row.ms-auto.align-items-center.justify-content-center

            %li.nav-item.dropdown{ "data-controller" => "theme" }
              %button#bd-theme.btn.btn-link.nav-link.py-2.px-0.px-lg-2.dropdown-toggle.d-flex.align-items-center{"aria-expanded" => "false", "aria-label" => "Toggle theme (auto)", "data-bs-display" => "static", "data-bs-toggle" => "dropdown", :type => "button"}
                %i.fa.fa-circle-half-stroke{ "data-theme-target" => "dropdownButtonIcon" }
              %ul.dropdown-menu.dropdown-menu-end
                %li
                  %button.dropdown-item.d-flex.align-items-center{"data-theme-target" => "lightButton", "aria-pressed" => "false", "data-bs-theme-value" => "light", :type => "button", "data-action" =>"click->theme#changeTheme"}
                    %i.fa.fa-sun.me-2
                    Light
                %li
                  %button.dropdown-item.d-flex.align-items-center{"data-theme-target" => "darkButton", "aria-pressed" => "false", "data-bs-theme-value" => "dark", :type => "button", "data-action" =>"click->theme#changeTheme"}
                    %i.fa.fa-moon.me-2
                    Dark
                %li
                  %button.dropdown-item.d-flex.align-items-center{"data-theme-target" => "autoButton", "aria-pressed" => "true", "data-bs-theme-value" => "auto", :type => "button", "data-action" =>"click->theme#changeTheme" }
                    %i.fa.fa-circle-half-stroke.me-2
                    Auto

            %li.nav-item.dropdown
              %a#drop1.nav-link.pe-0{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "javascript:void(0)"}
                .d-flex.align-items-center
                  .user-profile-img
                    %i.fa.fa-user-circle
              .dropdown-menu.content-dd.dropdown-menu-end.dropdown-menu-animate-up{"aria-labelledby" => "drop1"}
                .profile-dropdown.position-relative
                  .d-flex.align-items-center.py-9.mx-7
                    %div
                      %h5.mb-1.fs-3= current_user.name
                      %span.mb-1.d-block= current_user.role
                      %p.mb-0.d-flex.align-items-center
                        %i.ti.ti-mail.fs-4
                        = current_user.email
                  .d-grid.py-4.px-7.pt-8
                    = link_to destroy_user_session_path, class: "btn btn-outline-primary", "data-turbo-method": :delete do
                      %i.fa.fa-sign-out-alt
                      Sign Out


