%nav.navbar-default.navbar-static-side{:role => "navigation", "data-turbolinks-animate-persist" => "true" }
  .sidebar-collapse
    %ul#side-menu.nav.metismenu
      %li.nav-header
        .dropdown.profile-element
          %img.rounded-circle{ gravatar_attrs(@user, size: 50) }/
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %span.block.m-t-xs.font-bold
              = current_user.email
          /   %span.text-muted.text-xs.block
          /     Example menu
          /     %b.caret
          / %ul.dropdown-menu.animated.fadeInRight.m-t-xs
          /   %li
          /     %a.dropdown-item{:href => "#"} Logout
        .logo-element
          IN+
      %li.active
        = link_to root_path do
          %i.fa.fa-tachometer-alt
          %span.nav-label Dashboard

      %li
        = link_to users_path do
          %i.fa.fa-users
          %span.nav-label Users

      %li
        = link_to '#' do
          %i.fa.fa-user-shield
          %span.nav-label Developer
          %span.fa.arrow
        %ul.nav.nav-second-level.collapse{ "aria-expanded" => false }
          %li= link_to "Resque", "/resque", target: "_blank"
          - if Rails.env.development?
            %li= link_to "Email Previews", "/rails/mailers", target: "_blank"
            %li= link_to "Letter Opener", "/letter-opener", target: "_blank"
