%aside.sidebar{ class: layout_sidebar_class }
  .scrollbar-inner

    .user
      .user__info{"data-toggle" => "dropdown"}
        %img.user__img{ src: user_avatar_url(current_user, 50) }/
        %div
          .user__name= current_user.name
          .user__email= current_user.email
      .dropdown-menu
        = link_to current_user, class: "dropdown-item" do
          %i.fa.fa-user
          Profile
        = link_to destroy_user_session_path, class: "dropdown-item", data: { method: :delete } do
          %i.fa.fa-sign-out-alt
          Sign Out

    %ul.navigation
      - if policy(:dashboard).show?
        %li{ class: active_sidebar_tab_for_path(dashboard_path) }
          = link_to dashboard_path do
            %i.fa.fa-tachometer-alt
            Dashboard
      - if policy(User).index?
        %li{ class: active_sidebar_tab_for_path(users_path) }
          = link_to users_path do
            %i.fa.fa-users
            Users

      - if current_user.admin?
        %li.navigation__sub{ class: active_sidebar_tab_for_admin }
          %a{"data-turbo" => "false"}
            %i.fa.fa-user-shield
            Admin
          %ul
            %li= link_to "Sidekiq", "/sidekiq", target: "_blank"
            %li{ class: active_sidebar_tab_for_path(web_components_path) }
              = link_to "Web Components", web_components_path
            - if Rails.env.development?
              %li= link_to "Email Previews", "/rails/mailers", target: "_blank"
              %li= link_to "Letter Opener", "/letter-opener", target: "_blank"
