.brand-logo.d-flex.align-items-center.justify-content-between
  = link_to root_path, class: "text-nowrap" do
    = PLATFORM_TITLE
  %a.sidebartoggler.ms-auto.text-decoration-none.fs-5.d-block.d-xl-none{:href => "javascript:void(0)"}
    %i.fa.fa-x

%nav.sidebar-nav.scroll-sidebar{"data-simplebar" => ""}
  %ul#sidebarnav
    - if policy(:dashboard).show?
      %li.sidebar-item
        = link_to dashboard_path, class: append_active_if_path('sidebar-link', dashboard_path) do
          %span
            %i.fa.fa-tachometer-alt
          %span.hide-menu Dashboard
    - if policy(User).show?
      %li.sidebar-item
        = link_to users_path, class: append_active_if_path('sidebar-link', users_path) do
          %span
            %i.fa.fa-users
          %span.hide-menu Users
    - if current_user.admin?
      %li.sidebar-item
        %a.sidebar-link.has-arrow{class: active_admin_tab_class, href: "javascript:void(0)"}
          %span.d-flex
            %i.fa.fa-user-shield
          %span.hide-menu Admin
        %ul.collapse.first-level
          - if policy(:web_components).show?
            %li.sidebar-item
              = link_to web_components_path, class: append_active_if_path('sidebar-link', web_components_path) do
                .round-16.d-flex.align-items-center.justify-content-center
                  %i.ti.ti-circle
                %span.hide-menu Web Components
          - if Rails.env.development?
            %li.sidebar-item
              = link_to "/rails/mailers", class: 'sidebar-link' do
                .round-16.d-flex.align-items-center.justify-content-center
                  %i.ti.ti-circle
                %span.hide-menu Mailer Previews
            %li.sidebar-item
              = link_to "/letter-opener", class: 'sidebar-link' do
                .round-16.d-flex.align-items-center.justify-content-center
                  %i.ti.ti-circle
                %span.hide-menu Letter Opener
