#sidebar.sidebar-container.offcanvas-lg.offcanvas-start{ data: { sidebar_target: "sidebar" }, "aria-labelledby" => "sidebarLabel", :tabindex => "-1"}
  %nav.navbar.d-flex.bg-body-tertiary.ps-3.pb-2
    %a.btn.btn-outline-secondary.fw-2{ data: { action: "click->sidebar#hide" } }
      %i.bi.bi-layout-sidebar
  .d-flex.flex-column.flex-grow-1.bg-body-tertiary
    %ul.nav.nav-pills.flex-column.mb-auto.px-3
      - if policy(:dashboard).show?
        %li.nav-item
          = link_to dashboard_path, { class: "nav-link #{active_for_path(dashboard_path)}" } do
            %i.bi.me-2.bi-speedometer2
            Dashboard
      - if policy(User).index?
        %li.nav-item
          = link_to users_path, { class: "nav-link #{active_for_path(users_path)}" } do
            %i.bi.me-2.bi-people
            Users
      - if Rails.env.development?
        %li.nav-item
          %button.btn.btn-toggle{ data: { bs_target: "#development-collapse", bs_toggle: "collapse" }, "aria-expanded" => "false" }
            %i.bi.me-2.bi-code-square
            Development
          #development-collapse.collapse{:style => ""}
            %ul.list-unstyled.fw-normal.pb-1.small
              %li
                = link_to "Email Previews", '/rails/mailers', target: "_blank", class: "link-dark rounded"
              %li
                = link_to "Letter Opener", '/letter-opener', target: "_blank", class: "link-dark rounded"
              %li
                = link_to "Web Components", web_components_path, class: "link-dark rounded"

    %ul.nav.nav-pills.flex-column.px-1
      %li.nav-item.dropdown
        %a#accountDropdown.dropdown-toggle.nav-link.link-dark{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#"}
          %i.bi.me-2.bi-person-circle
          Account
        %ul.dropdown-menu.text-small.shadow{"aria-labelledby" => "accountDropdown"}
          %li
            = link_to "Profile", user_path(current_user), class: "dropdown-item"
          %li
            %hr.dropdown-divider/
          %li
            = link_to "Sign Out", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete }
