%ul.nav.nav-pills.flex-column.mx-2.mb-2
  - if policy(:dashboard).show?
    %li.nav-item
      = link_to dashboard_path, { class: "nav-link d-flex #{active_for_path(dashboard_path)}" } do
        %i.bi.bi-speedometer2.me-2
        Dashboard
  - if policy(User).index?
    %li.nav-item
      = link_to users_path, { class: "nav-link d-flex #{active_for_path(users_path)}" } do
        %i.bi.bi-people.me-2
        Users
  - if Rails.env.development?
    %li.nav-item
      = link_to "javascript:void(0)", { class: "nav-link d-flex", data: { bs_toggle: "collapse", bs_target: "#development-collapse" }, aria: { expended: false, controls: "#development-collapse" } } do
        %i.bi.bi-code-slash.me-2
        Development
      .collapse.sidebar-collapse#development-collapse
        %ul.btn-toggle-nav.list-unstyled.fw-normal.pb-1.small
          %li
            = link_to "Email Previews", '/rails/mailers', target: "_blank"
          %li
            = link_to "Letter Opener", '/letter-opener', target: "_blank"
          %li
            = link_to "Web Components", web_components_path
