%aside.sidebar{ "data-turbolinks-animate-persist" => "true", class: layout_sidebar_class }
  .scrollbar-inner

    .user
      .user__info{"data-toggle" => "dropdown"}
        %img.user__img{ src: user_avatar_url(current_user, 50) }/
        %div
          .user__name= current_user.name
          .user__email= current_user.email
      .dropdown-menu
        = link_to current_user, class: "dropdown-item" do
          %i.fa.fa-user
          Profile
        = link_to destroy_user_session_path, class: "dropdown-item", data: { method: :delete } do
          %i.fa.fa-sign-out-alt
          Sign Out

    %ul.navigation
      %li{ class: active_sidebar_tab("/" == request.path) }
        = link_to root_path do
          %i.fa.fa-tachometer-alt
          Dashboard
      - if policy(User).index?
        %li{ class: active_sidebar_tab(request.path.start_with?("/users")) }
          = link_to users_path do
            %i.fa.fa-users
            Users
      - if current_user.admin?
        %li.navigation__sub
          %a{:href => ""}
            %i.fa.fa-user-shield
            Developer
          %ul
            %li= link_to "Sidekiq", "/sidekiq", target: "_blank"
            %li= link_to "Web Components", web_components_path
            - if Rails.env.development?
              %li= link_to "Email Previews", "/rails/mailers", target: "_blank"
              %li= link_to "Letter Opener", "/letter-opener", target: "_blank"
