.brand-logo.d-flex.align-items-center.justify-content-between
  = link_to root_path, class: "text-nowrap" do
    = PLATFORM_TITLE
  %a.sidebartoggler.ms-auto.text-decoration-none.fs-5.d-block.d-xl-none{:href => "javascript:void(0)"}
    %i.fa.fa-x

%nav.sidebar-nav.scroll-sidebar{"data-simplebar" => ""}
  %ul#sidebarnav
    %li.nav-small-cap
      %span.hide-menu User
    - if policy(:dashboard).show?
      %li.sidebar-item
        = link_to dashboard_path, class: append_active_if_path('sidebar-link', dashboard_path) do
          %span
            %i.fa.fa-tachometer-alt
          %span.hide-menu Dashboard
    - if policy(current_user).show?
      %li.sidebar-item
        = link_to user_path(current_user), class: append_active_if_path('sidebar-link', user_path(current_user)) do
          %span
            %i.fa.fa-user
          %span.hide-menu Profile
    - if current_user.admin?
      %li.nav-small-cap
        %span.hide-menu Admin
      - if policy(User).show?
        %li.sidebar-item
          = link_to users_path, class: append_active_if_path('sidebar-link', users_path) do
            %span
              %i.fa.fa-users
            %span.hide-menu Users
      - if policy(:web_components).show?
        %li.sidebar-item
          = link_to web_components_path, class: append_active_if_path('sidebar-link', web_components_path) do
            %span
              %i.fa.fa-gears
            %span.hide-menu Web Components
      - if Rails.env.development?
        %li.sidebar-item
          = link_to "/rails/mailers", class: 'sidebar-link' do
            %span
              %i.fa.fa-envelope
            %span.hide-menu Mailers
        %li.sidebar-item
          = link_to "/letter-opener", class: 'sidebar-link' do
            %span
              %i.fa.fa-inbox
            %span.hide-menu Letter Opener
