%aside.sidebar
  .scrollbar-inner
    .user
      .user__info{"data-toggle" => "dropdown"}
        %img.user__img{:alt => "", :src => image_path('profile.png')}/
        %div
          .user__name= current_user.name
          .user__email= current_user.email
      .dropdown-menu
        = link_to "Profile", profile_path, class: "dropdown-item"
        = link_to "Sign Out", destroy_user_session_path, class: "dropdown-item"
    %ul.navigation
      %li{ class: active_class_for_controller(:dashboard)}
        = link_to root_path do
          %i.fa.fa-tachometer
          Dashboard
      %li{ class: active_class_for_controller(:users)}
        = link_to users_path do
          %i.fa.fa-users
          Users
      %li.navigation__sub
        %a
          %i.zmdi.zmdi-code
          Developer
        %ul
          %li
            = link_to 'API Explorer', grape_swagger_rails_path
            - if true == Rails.env.development?
              = link_to 'Mailers', '/rails/mailers'
            = link_to 'Resque', resque_server_path
