= simple_form_for(@user, url: profile_path, method: :patch) do |f|
    = f.error_notification
    = f.input :first_name
    = f.input :last_name
    = f.input :time_zone
    = f.button :submit, 'Update'
    = link_to "Cancel", profile_path, class: "btn btn-default"
