.content__inner

  %header.content__title
    %h1= @user.name
    %small= @user.email
    .actions
      %a.actions__item.zmdi.zmdi-edit{ href: edit_profile_path }

          
  .toolbar
    %nav.toolbar__nav
      %a.active{ href: edit_profile_path } About
      
  .card
    .card-body
      %h4.card-body__title.mb-4= "About #{@user.name}"
      %ul.icon-list
        %li
          %i.zmdi.zmdi-email>
          = @user.email
