!!!
%html{ data: { bs_theme: "light", color_theme: "Blue_Theme", layout: "vertical" } , dir: "ltr", lang: "en" }
  %head
    = render 'head'
  %body
    #main-wrapper
      = render 'sidebar'
      .page-wrapper
        = render 'navbar'
        .body-wrapper
          .container-fluid
            = render 'flash'
            = yield
    = turbo_frame_tag :modal