!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title= "#{page_title} | #{PLATFORM_TITLE}"
    = csrf_meta_tags
    = csp_meta_tag
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap", :rel => "stylesheet"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  = component 'turbolinks-animate', animation: @turbolinks_animate_animation, class: '' do
    #wrapper{class: "#{params[:controller]}.#{params[:action]}"}
      = render 'application/sidebar'
      #page-wrapper.gray-bg
        = render 'application/navbar'
        = render 'application/breadcrumbs'
        .wrapper.wrapper-content
          = render 'application/flash'
          = yield
    = yield :javascript
