!!!
%html
  %head
    = render 'head'
  %body{ data: { bs_theme: "light", controller: "theme sidebar" } }
    .main-container
      = render 'sidebar'
      .body-container
        = render 'navbar'
        .scrollable-body-container
          = render 'flash'
          = render 'breadcrumbs'
          = yield
    = turbo_frame_tag :modal