!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title= "#{page_title} | #{PLATFORM_TITLE}"
    = csrf_meta_tags
    = csp_meta_tag
    = action_cable_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  = component 'turbolinks-animate', animation: @turbolinks_animate_animation, class: "flexable #{params[:controller]}.#{params[:action]}", "data-ma-theme"=>"blue" do
    %main.main
      = render "header"
      = render "sidebar"
      %section.content#page-loader
        = render 'breadcrumbs'
        = yield
        = render 'toast'
        = yield :javascript

