!!!
%html{ data: { bs_theme: "light" } }
  %head
    = render 'head'
  %body.sidebar-shown{ data: { controller: "theme sidebar", sidebar_target: "body" } }
    .main-container
      = render 'sidebar'
      .body-container
        = render 'navbar'
        .scrollable-body-container
          = render 'flash'
          = yield
    = turbo_frame_tag :modal