!!!
%html{ data: { bs_theme: "light", show_sidebar: "yes" } }
  %head
    :javascript
      document.documentElement.dataset.showSidebar = localStorage.getItem("SHOW_SIDEBAR") || "yes"
    = render 'head'
  %body{ data: { controller: "sidebar" } }
    = render 'sidebar'
    #main
      .container-fluid
        = render 'navbar'
        = render 'flash'
        = yield
    = turbo_frame_tag :modal
