!!!
%html
  %head
    = render 'head'
  %body{ data: { controller: "sidebar-toggle" } }
    .page-wrapper{ data: { sidebar_toggle_target: "pageWrapper" } }
      .main-container
        = render 'sidebar'
        .app-container
          = render 'navbar'
          .app-body
            = yield
    = turbo_frame_tag :modal