!!!
%html{ data: { bs_theme: "light", scheme: "navy" } }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= "#{page_title} | #{PLATFORM_TITLE}"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body.out-quart
    #root.root.mn--max.tm--expanded-hd.sb--stuck
      %section.content#content
        = render 'page_header'
        .content__boxed
          .content__wrap
            = yield
      = render 'header'
      = render 'sidebar'
    = render 'flash'
