!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "no-cache", :name => "turbo-cache-control"}/
    - if native?
      %meta{:content => "width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0", :name => "viewport"}/
      %title= page_title
    - else
      %meta{:content => "width=device-width,initial-scale=1.0", :name => "viewport"}/
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
      %title= "#{page_title} | #{PLATFORM_TITLE}"
    = csrf_meta_tags
    = csp_meta_tag
    = action_cable_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbo-track': 'reload'
  %body{ class: "flexable #{params[:controller].gsub("_","-")} #{params[:action]}", "data-ma-theme"=>"blue" }
    %main.main
      = render "header"
      = render "sidebar"
      %section.content{ class: layout_content_class }
        #progress-wheel
        = render 'breadcrumbs'
        = yield
    = turbo_frame_tag "modal"
    = render 'application/toast'
    = yield :javascript