!!!
%html{ data: { bs_theme: "LIGHT", show_sidebar: "YES" } }
  %head
    :javascript
      document.documentElement.dataset.showSidebar = localStorage.getItem("SHOW_SIDEBAR") || "YES"
    = render 'head'
  %body{ data: { controller: "sidebar theme" } }
    = render 'sidebar'
    #main
      .container-fluid
        = render 'navbar'
        = render 'flash'
        = yield
    = turbo_frame_tag :modal
