!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= "#{page_title} | #{PLATFORM_TITLE}"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
  %body.pace-top
    #app.app.app-full-height.app-without-header
      .login
        .login-content
          %h1.text-center= PLATFORM_TITLE
          .text-body.text-opacity-50.text-center.mb-4= page_title
          = render 'flash'
          = yield
          = render 'splash/links'




