!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %title= "#{page_title} | #{PLATFORM_TITLE}"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload"
  %body
    #main-wrapper
      .position-relative.overflow-hidden.radial-gradient.min-vh-100.w-100.d-flex.align-items-center.justify-content-center
        .d-flex.align-items-center.justify-content-center.w-100
          .row.justify-content-center.w-100
            .col-md-8.col-lg-6.col-xxl-3.auth-card
              .card.mb-0
                .card-body
                  %h2.text-nowrap.logo-img.text-center.d-block.mb-5.w-100= page_title
                  = render 'splash/flash'
                  = yield
                  = render 'splash/links'
