!!!
%html{ data: { bs_theme: "LIGHT" } }
  %head
    = render 'head'
  %body.splash
    .container.vh-100.d-flex.align-items-center.justify-content-center
      .card.splash-card
        .card-body
          .text-center
            %h4.card-title= page_title
            %h6.card-subtitle.text-body-secondary.mb-3= PLATFORM_TITLE
          = render 'flash'
          = yield
