!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "no-cache", :name => "turbo-cache-control"}/
    - if native?
      %meta{:content => "width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0", :name => "viewport"}/
      %title= page_title
    - else
      %meta{:content => "width=device-width,initial-scale=1.0", :name => "viewport"}/
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
      %title= "#{page_title} | #{PLATFORM_TITLE}"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbo-track': 'reload'
  %body{ class: "#{params[:controller]} #{params[:action]}", "data-ma-theme"=>"blue" }
    .login
      .login__block.active
        .login__block__header
          %i.zmdi.zmdi-account-circle
          = page_title
        .login__block__body
          = render 'flash'
          = yield
          = render "splash/links"